<!DOCTYPE html>
{% extends 'intranet/base.html' %}

{% block content %}
{% load static %}

<div class="search-container">
    <h1 style="text-align: center">Buscar fichas clinicas para eliminar</h1>
    <form action="{% url 'buscarFichasEliminar' %}" method="post">
        {% csrf_token %}
        <input type="text" name="telefonoFicha" placeholder="Ingrese número telefónico">
        <button type="submit">Buscar</button>
    </form>
</div>
</br>
</br>
<div class="logo_central">
    <img src="{%static 'images/logo.png' %}" alt="ZENSORIAL SPA & WELLNESS BAR logo_central" class="imgcentral">
</div>
{% endblock %}