{% load static %}

<div class="pass-container">  
    <h2>CAMBIO DE CONTRASEÑA</h2>
    
    <form id="cambio-pass" action="{% url 'cambiar_contrasena' %}" method="post"> <!-- Funcion para validacion de usuario -->
        {% csrf_token %}
        <h4>Usuario</h4>
        <div class="form-input">
            <input id="username" type="text" name="username" placeholder="Nombre de usuario" required>
            
        </div>
        <h4>Contraseña actual</h4>
        <div class="form-input">
            <input type="password" name="old_password" id="old_password" placeholder="Contraseña actual"required>
        
        </div>
        <h4>Nueva contraseña</h4>
        <div class="form-input">
            <input type="password" name="new_password1"  id="new_password1" placeholder="Nueva contraseña"required>
        </div>

        <h4>Confirmar contraseña</h4>
        <div class="form-input">
            <input type="password" name="new_password2" id="new_password2" placeholder="Confirmar contraseña" required>
        </div>

        <button type="submit" class="login-button">CAMBIAR CONTRASEÑA</button>
    </form>
</div>
</body>

