{% extends 'intranet/base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styleempleadonew.css' %}">
<body>
    <div class="header">
        <h1>Alta empleado</h1>
    </div>
    <div class="form-container">
        <form>
            <div class="form-field">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombreempleadonew" name="nombreempleadonew" required>
            </div>
            <div class="form-field">
                <label for="status">Status:</label>
                <select id="status" name="status">
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>
            </div>
            <div class="form-field">
                <label for="horario_laboral">Horario Laboral:</label>
                <input type="text" id="horario_laboral" name="horario_laboral" required>
            </div>
            <div class="form-field">
                <button type="submit">Agregar empleado</button>
            </div>
        </form>
    </div>
</body>
{% endblock %}