
<head></head>
<body>
  <body>{% extends 'intranet/base.html' %}

    {% block content %}
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleficha.css' %}">
    
    
    
        <form class="formulario">
            <div class="header">
                <h1>FICHA CLÍNICA</h1>
            </div>
            <div class="field">
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha">
            </div>
        
            <div class="field">
                <label for="nombrePaciente">Nombre del paciente:</label>
                <input type="text" id="nombrePaciente" name="nombrePaciente">
            </div>
        
            <div class="row">
                <div class="field">
                    <label for="telefono">Teléfono:</label>
                    <input type="number" id="telefono" name="telefono">
                </div>
        
                <div class="field">
                    <label for="edad">Edad:</label>
                    <input type="number" id="edad" name="edad">
                </div>
        
                <div class="field">
                    <label for="genero">Género:</label>
                    <select id="genero" name="genero">
                        <option value="femenino">Femenino</option>
                        <option value="masculino">Masculino</option>
                        <option value="otro">Otro</option>
                    </select>
                    
                </div>
                <div class="field">
                    <label for="estadoCivil">Estado Civil:</label>
                    <select id="estadoCivil" name="estadoCivil">
                        <option value="soltero">Soltero</option>
                        <option value="casado">Casado</option>
                        <option value="divorciado">Divorciado</option>
                        <option value="viudo">Viudo</option>
                    </select>
                </div>
            </div>
        
            
                <div class="field">
                    <label for="ocupacion">Ocupación:</label>
                    <input type="text" id="ocupacion" name="ocupacion">
                </div>
        
                
            
        
            <div class="field">
                <label for="motivoConsulta">Motivo de consulta:</label>
                <textarea id="motivoConsulta" name="motivoConsulta"></textarea>
            </div>
            <br>
            <div class="field">
                <label for="antecedentesPatologicos">Antecedentes personales Patológicos:</label>
                <div class="radio-group">
                    <input type="radio" id="patologicosSi" name="patalogicos" value="si">
                    <label for="patologicosSi">SI</label>
                    <input type="radio" id="patologicosNo" name="patalogicos" value="no">
                    <label for="patologicosNo">NO</label>
                </div>
            </div>
        
            <div class="row">
                <div class="field">
                    <label for="renales">Renales:</label>
                    <input type="text" id="renales" name="renales">
                </div>
                <div class="field">
                    <label for="cardiovasculares">Cardiovasculares:</label>
                    <input type="text" id="cardiovasculares" name="cardiovasculares">
                </div>
            </div>
        
            <div class="row">
                <div class="field">
                    <label for="alergicos">Alérgicos:</label>
                    <input type="text" id="alergicos" name="alergicos">
                </div>
                <div class="field">
                    <label for="pulmonares">Pulmonares:</label>
                    <input type="text" id="pulmonares" name="pulmonares">
                </div>
            </div>
        
            <div class="row">
                <div class="field">
                    <label for="quirurgicos">Quirúrgicos:</label>
                    <input type="text" id="quirurgicos" name="quirurgicos">
                </div>
                <div class="field">
                    <label for="digestivos">Digestivos:</label>
                    <input type="text" id="digestivos" name="digestivos">
                </div>
            </div>
        
            <div class="row">
                <div class="field">
                    <label for="respiratorios">Respiratorios:</label>
                    <input type="text" id="respiratorios" name="respiratorios">
                </div>
                <div class="field">
                    <label for="otros">Otros:</label>
                    <input type="text" id="otros" name="otros">
                </div>
            </div>
            <br>
            <div class="field">
                <label for="antecedentesNoPatologicos">Antecedentes personales NO Patológicos:</label>
                <div class="radio-group">
                    <input type="radio" id="NopatologicosSi" name="Nopatalogicos" value="si">
                    <label for="NopatologicosSi">SI</label>
                    <input type="radio" id="NopatologicosNo" name="Nopatalogicos" value="no">
                    <label for="NopatologicosNo">NO</label>
                </div>
            </div>
        
            <div class="row">
                <div class="field">
                    <label for="alcohol">Alcohol:</label>
                    <input type="text" id="alcohol" name="alcohol">
                </div>
                <div class="field">
                    <label for="tabaquismo">Tabaquismo:</label>
                    <input type="text" id="tabaquismo" name="tabaquismo">
                </div>
                <div class="field">
                    <label for="drogas">Drogas:</label>
                    <input type="text" id="drogas" name="drogas">
                </div>
                <div class="field">
                    <label for="otrosNoPatologicos">Otros:</label>
                    <input type="text" id="otrosNoPatologicos" name="otrosNoPatologicos">
                </div>
            </div>
            <br>
            <div class="field">
                <label for="antecedentesHeredofamiliares">Antecedentes heredofamiliares:</label>
                <div class="radio-group">
                    <input type="radio" id="heredoSi" name="heredo" value="si">
                    <label for="heredoSi">SI</label>
                    <input type="radio" id="heredoNo" name="heredo" value="no">
                    <label for="heredoNo">NO</label>
                </div>
            </div>
        
            <div class="row">
                <div class="field">
                    <label>Madre: Vivo</label>
                    <div class="radio-group">
                        <input type="radio" id="madreVivoSi" name="madreVivo" value="si">
                        <label for="madreVivoSi">SI</label>
                        <input type="radio" id="madreVivoNo" name="madreVivo" value="no">
                        <label for="madreVivoNo">NO</label>
                    </div>
                    <br>
                    <label for="madreEnfermedades">Enfermedades que padece:</label>
                    <input type="text" id="madreEnfermedades" name="madreEnfermedades">
                </div>
                <div class="field">
                    <label>Padre: Vivo</label>
                    <div class="radio-group">
                        <input type="radio" id="padreVivoSi" name="padreVivo" value="si">
                        <label for="padreVivoSi">SI</label>
                        <input type="radio" id="padreVivoNo" name="padreVivo" value="no">
                        <label for="padreVivoNo">NO</label>
                    </div>
                    <br>
                    <label for="padreEnfermedades">Enfermedades que padece:</label>
                    <input type="text" id="padreEnfermedades" name="padreEnfermedades">
                </div>
            </div>
            <br>
            <div class="field">
                <label>Antecedentes Ginecobstetricos:</label>
                <div class="radio-group">
                    <input type="radio" id="gineSi" name="gine" value="si">
                    <label for="madreVivoSi">SI</label>
                    <input type="radio" id="madreVivoNo" name="gine" value="no">
                    <label for="madreVivoNo">NO</label>
                </div>
                <br>
                <div class="row">
                    <div class="field">
                        <label for="inicioMenstruacion">Inicio de la menstruación:</label>
                        <input type="text" id="inicioMenstruacion" name="inicioMenstruacion">
                    </div>
                    <div class="field">
                        <label for="ciclo">Ciclo:</label>
                        <input type="text" id="ciclo" name="ciclo">
                    </div>
                    <div class="field">
                        <label for="duracion">Duración:</label>
                        <input type="text" id="duracion" name="duracion">
                    </div>
                    <div class="field">
                        <label for="fechaUltimaRegla">Fecha de ultima regla:</label>
                        <input type="text" id="fechaUltimaRegla" name="fechaUltimaRegla">
                    </div>
                    <div class="field">
                        <label for="usoAnticonceptivos">Uso de anticonceptivos:</label>
                        <input type="text" id="usoAnticonceptivos" name="usoAnticonceptivos">
                    </div>
                    <div class="field">
                        <label>Menopausia:</label>
                        <div class="radio-group">
                            <input type="radio" id="menopausiaSi" name="menopausia" value="si">
                            <label for="menopausiaSi">SI</label>
                            <input type="radio" id="menopausiaNo" name="menopausia" value="no">
                            <label for="menopausiaNo">NO</label>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="field">
                <label for="exploracionFisica">Exploración Física:</label>
                <input type="text" id="exploracionFisica" name="exploracionFisica">
            </div>
            <div class="row">
            <div class="field">
                <label for="pesoTalla">Peso y talla:</label>
                <input type="text" id="pesoTalla" name="pesoTalla">
            </div>
            <div class="field">
                <label for="imc">IMC:</label>
                <input type="text" id="imc" name="imc">
            </div>
             </div>
             <label style="text-align:center ;">MEDIDAS CORPORALES:</label>
             <br>
            <div class="row">
                
                <div class="field">
                    <label for="busto">Busto:</label>
                    <input type="text" id="busto" name="busto">
                </div>
                <div class="field">
                    <label for="brazoIzquierdo">Brazo izquierdo:</label>
                    <input type="text" id="brazoIzquierdo" name="brazoIzquierdo">
                </div>
                <div class="field">
                    <label for="cintura">Cintura:</label>
                    <input type="text" id="cintura" name="cintura">
                </div>
                <div class="field">
                    <label for="piernaDerecha">Pierna derecha:</label>
                    <input type="text" id="piernaDerecha" name="piernaDerecha">
                </div>
                <div class="field">
                    <label for="cadera">Cadera:</label>
                    <input type="text" id="cadera" name="cadera">
                </div>
                <div class="field">
                    <label for="piernaIzquierda">Pierna izquierda:</label>
                    <input type="text" id="piernaIzquierda" name="piernaIzquierda">
                </div>
            </div>
            <div class="row">
                
            <button type="submit" class="button1">Guardar</button>
            
            <button type="submit" class="button2">Borrar</button>
            </div>
            
        </form>
        
        
    
    
      
    {% endblock %}</body>
