<!DOCTYPE html>
<head></head>
<body>
  <body>{% extends 'intranet/base.html' %}

    {% block content %}
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleficha.css' %}">
    
    
    
        <form class="formulario" action="{% url 'crear_ficha_clinica' %}" method="post">
            {% csrf_token %}
            <div class="header">
                <h1>FICHA CLÍNICA</h1>
            </div>
            <div class="field">
                <label for="fecha">Fecha de creacion:</label>
                <input type="date" id="fecha" name="fecha" value="{{ fichaClinica.fecha_ficha|date:'Y-m-d' }}" readonly>
            </div>
        
            <div class="field">
                <label for="nombre_cliente">Nombre del paciente:</label>
                <input type="text" id="nombre_cliente" name="nombre_cliente" maxlength="30" value="{{ fichaClinica.nombre_cliente.nombre_cliente} }}" readonly >
            </div>
        
            <div class="row">
                <div class="field">
                    <label for="telefono_cliente">Teléfono:</label>
                    <input type="telefono_cliente" id="telefono_cliente" name="telefono_cliente" maxlength="15" value="{{ fichaClinica.nombre_cliente.telefono_cliente }}" readonly>
                </div>
        
                <div class="field">
                    <label for="edad">Edad:</label>
                    <input type="number" id="edad" name="edad" maxlength="2" value="{{ fichaClinica.edad }}" readonly>
                </div>
        
                <div class="field">
                    <label for="sexo">Género:</label >
                    <input type="text" id="sexo" name="sexo" value="{{ fichaClinica.sexo }}" readonly> 
                     
                </div>
                <div class="field">
                    <label for="estado_civil">Estado Civil:</label>
                    <input type="text" id="estado_civil" name="estado_civil" value="{{ fichaClinica.estado_civil }}" readonly>
                    
            </div>
        
            
                <div class="field">
                    <label for="ocupacion">Ocupación:</label>
                    <input type="text" id="ocupacion" name="ocupacion" maxlength="70" value="{{ fichaClinica.ocupacion }}" readonly>
                </div>
        
                
            
        
            <div class="field">
                <label for="motivo_consulta">Motivo de consulta:</label>
                <input type="text" id="motivo_consulta" name="motivo_consulta" maxlength="150" placeholder="Campo forzoso" value="{{ fichaClinica.motivo_consulta }}" readonly>
            </div>
            <br>
            <div class="field">
                <label style="text-align:center">Antecedentes Patológicos:</label>
                
            </div>
        
            <div class="row">
                <div class="field">
                    <label for="renales">Renales:</label>
                    <input type="text" id="renales" name="renales" maxlength="30" placeholder="Campo forzoso" value="{{ fichaClinica.renales }}" readonly >
                </div>
                <div class="field">
                    <label for="cardiovasculares">Cardiovasculares:</label>
                    <input type="text" id="cardiovasculares" name="cardiovasculares" maxlength="30" value="{{ fichaClinica.cardiovasculares }}" readonly >
                </div>
            </div>
        
            <div class="row">
                <div class="field">
                    <label for="alergicos">Alérgicos:</label>
                    <input type="text" id="alergicos" name="alergicos" maxlength="30" value="{{ fichaClinica.alergicos }}" readonly>
                </div>
                <div class="field">
                    <label for="pulmonares">Pulmonares:</label>
                    <input type="text" id="pulmonares" name="pulmonares" maxlength="30" placeholder="Campo forzoso">
                </div>
            </div>
        
            <div class="row">
                <div class="field">
                    <label for="quirurgicos">Quirúrgicos:</label>
                    <input type="text" id="quirurgicos" name="quirurgicos" maxlength="30" placeholder="Campo forzoso">
                </div>
                <div class="field">
                    <label for="digestivos">Digestivos:</label>
                    <input type="text" id="digestivos" name="digestivos" maxlength="30" placeholder="Campo forzoso">
                </div>
            </div>
        
            <div class="row">
                <div class="field">
                    <label for="respiratorios">Respiratorios:</label>
                    <input type="text" id="respiratorios" name="respiratorios" maxlength="30" placeholder="Campo forzoso">
                </div>
                <div class="field">
                    <label for="otros">Otros:</label>
                    <input type="text" id="otros" name="otros" maxlength="30">
                </div>
            </div>
            <br>
            <div class="field">
                <label style="text-align:center">Antecedentes NO Patológicos:</label>
            </div>
        
            <div class="row">
                <div class="field">
                    <label for="alcoholismo">Alcoholismo:</label>
                    <input type="text" id="alcoholismo" name="alcoholismo" maxlength="30">
                </div>
                <div class="field">
                    <label for="tabaquismo">Tabaquismo:</label>
                    <input type="text" id="tabaquismo" name="tabaquismo" maxlength="30">
                </div>
                <div class="field">
                    <label for="drogas">Drogas:</label>
                        <div class="radio-group">
                        <input type="radio" id="drogas" name="drogas" value="si">
                        <label for="drogas">SI</label>
                        <input type="radio" id="drogas" name="drogas" value="no">
                        <label for="drogas">NO</label>
                    </div>
                </div>
                <div class="field">
                    <label for="otro">Otro:</label>
                    <input type="text" id="otro" name="otro" maxlength="30">
                </div>
            </div>
            <br>
            <div class="field">
                <label for="antecedentesHeredofamiliares">Antecedentes familiares:</label>
            </div>
        
            <div class="row">
                <div class="field">
                    <label>Madre:</label>
                    <div class="radio-group">
                        <input type="radio" id="madre" name="madre" value="si">
                        <label for="madreVivoSi">SI</label>
                        <input type="radio" id="madre" name="madre" value="no">
                        <label for="madreVivoNo">NO</label>
                    </div>
                    <br>
                    <label for="enfermed_madre">Enfermedades que padece:</label>
                    <input type="text" id="enfermed_madre" name="enfermed_madre" maxlength="150" placeholder="Campo forzoso">
                </div>
                <div class="field">
                    <label>Padre:</label>
                    <div class="radio-group">
                        <input type="radio" id="padre" name="padre" value="si">
                        <label for="padre">SI</label>
                        <input type="radio" id="padre" name="padre" value="no">
                        <label for="padre">NO</label>
                    </div>
                    <br>
                    <label for="enfermed_padre">Enfermedades que padece:</label>
                    <input type="text" id="enfermed_padre" name="penfermed_padre" maxlength="150" placeholder="Campo forzoso">
                </div>
            </div>
            <br>
            <div class="field">
                <label style="text-align:center">Antecedentes Ginecobstetricos:</label>
                <br>
                <div class="row">
                    <div class="field">
                        <label for="inicio_menstruacionn">Edad de inicio de la menstruación:</label>
                        <input type="number" id="inicio_menstruacion" name="inicio_menstruacion">
                    </div>
                    <div class="field">
                        <label for="ciclo_menstruacion">Ciclo:</label>
                        <input type="number" id="ciclo_menstruacion" name="ciclo_menstruacion">
                    </div>
                    <div class="field">
                        <label for="duracion_menstruacion">Duración:</label>
                        <input type="number" id="duracion_menstruacion" name="duracion_menstruacion">
                    </div>
                    <div class="field">
                        <label for="ultima_regla">Fecha de ultima regla:</label>
                        <input type="date" id="ultima_regla" name="ultima_regla">
                    </div>
                    <div class="field">
                        <label >Uso de anticonceptivos:</label>
                        <input type="text" id="anticonceptivos" name="anticonceptivos" maxlength="20">
                    </div>
                    <div class="field">
                        <label>Menopausia:</label>
                        <div class="radio-group">
                            <input type="radio" id="menopausia" name="menopausia" value="si">
                            <label for="menopausia">SI</label>
                            <input type="radio" id="menopausia" name="menopausia" value="no">
                            <label for="menopausia">NO</label>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="field">
                <label style="text-align:center">Exploración Física:</label>
            </div>
            <div class="row">
            <div class="field">
                <label for="peso">Peso:</label>
                <input type="number" id="peso" name="peso" placeholder="Campo forzoso">
            </div>
            <div class="field">
                <label for="talla">Talla:</label>
                <input type="number" id="talla" name="talla" placeholder="Campo forzoso">
            </div>
            <div class="field">
                <label for="imc">IMC:</label>
                <input type="number" id="imc" name="imc" placeholder="Campo forzoso">
            </div>
             </div>
             
             <div class="row">
            <div class="button-container">
                <a href="{% url 'home' %}" class="btn btn-primary">Regresar a Home</a>
              </div>
            </div>
            </div>
            
        </form>
        
        
    
    
      
    {% endblock %}</body>