
.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-field label {
    font-size: 16px;
    font-weight: 500;
}

.form-field input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-field input[type="submit"] {
    background-color: #547E74;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s;
}

.form-field input[type="submit"]:hover {
    background-color: #484;
}
.header {
    text-align: center;
    
    font-size: 1.2em;
  }

  p{
    font-weight: bold;
  }
  .headerdiv {
    background: #699c90;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.headerdiv div {
   width: 100%;
    text-align: center;
    color:white
}
label{
    font-weight: bold;
}